*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 1rem;
  align-items: start;
}

.list{
  width: auto;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #fff8e9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px 25px;
  width: 450px;
}
.container .btn{
  padding: 10px;
  background-color:#fd871f ;
  color: #fff2d8;
  float: right;
  width: 20%;
  margin-top: 5px;
  
  margin-left: -150px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  text-transform: capitalize;
}
.container button{
  padding: 10px;
  background-color:#fd871f ;
  color: #fff2d8;
  float: right;
  width: 22%;
  margin-top: 5px;
  
  margin-left: 140px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  text-transform: capitalize;
}
.list li{
  padding: 10px;
  border-radius: 10px;
  
  width: 400px;
  list-style: none;
  display: flex;
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #ffc490;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.list li img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 25px;
}
li .n_n{
  display: flex;
  align-items: start;
  width: 100%;
  flex-direction: column;
}
.app button{
  padding: 8px;
  background-color: #fd871f;
  color: #fff2d8;
  border: none;
  margin: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 400px;
  cursor: pointer;
}
form{
  width: 450px;
  padding: 15px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff2d8;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
form .form-control{
 
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  
}
form button{
  padding: 10px;
  background-color:#fd871f ;
  color: #fff2d8;
  float: right;
  width: 62%;
  margin-top: 10px;
  margin-left: 150px !important;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  text-transform: capitalize;
}
.form-control label{
  
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.form-control input,select{
  padding: 12px;
  margin-left:-50px;
  font-size: 16px;
  width: 100%;
  border: #ffb120;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
select{
  margin-left: -61px;
}
form.bill{
  width: 500px;
  height: auto;
  padding:  0 30px;
}
form.bill h3{
  margin-block: 15px;
  color: #e09200;
  font-size: 25px;
}
form.bill .form-control{
  margin-bottom: 15px;

}
form.bill .form-control input{
  margin-left: -60px;
}

form.bill button{
  margin-left:330px ;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 20px;
}